---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutUs from "../components/AboutUs.astro";
import SpecialtiesGrid from "../components/SpecialtiesGrid.jsx";
import StructureGallery from "../components/StructureGallery.astro";
import DiagnosticCTA from "../components/DiagnosticCTA.astro";
---

<Layout title="Hospital São Lucas | Referência em Saúde">
  <main>
    <Hero />
    <AboutUs />
    <SpecialtiesGrid client:load />
    <!-- Galeria de Estrutura renderizada aqui -->
    <StructureGallery />
    <DiagnosticCTA />
  </main>
</Layout>
